.tab-pane {
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
}
.history-item {
    margin-top: 10px;
}
.history-item {
    margin-bottom: 10px;
    border-radius: 8px;
}

.history-item .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.history-item .card-body p {
    margin: 0;
    word-wrap: break-word;
}
.correct {
    border-left: 5px solid #28a745;
}
.incorrect {
    border-left: 5px solid #dc3545;
}
.progress-bar {
    transition: width 0.5s;
}
#question {
    font-size: 1.2rem;
}
.skeleton-loader {
    display: flex;
    flex-direction: column;
}

.skeleton-title, .skeleton-text {
    background: #e0e0e0;
    border-radius: 4px;
}

.skeleton-title {
    width: 60%;
    height: 20px;
    margin-bottom: 10px;
}

@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.skeleton-title, .skeleton-text {
    animation: shimmer 1.5s infinite linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 100%;
    position: relative;
}
.modal-title {
    font-weight: bold;
}
.chapter-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-decoration: none;
    color: inherit;
}
.chapter-item:hover {
    background-color: #e9ecef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chapter-item .icon {
    margin-right: 15px;
    font-size: 24px;
    color: #28a745;
}
.chapter-item .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
.chapter-item .description {
    font-size: 14px;
    color: #666;
}
.modal-footer {
    justify-content: center;
}