<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}">
<head>
    <title th:text="${section.title + ' Learning'}">Course Section Learning</title>
</head>
<body>
<div layout:fragment="main-content">
    <div class="container">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" th:href="@{'/chapters'}">Home</a></li>
                <li class="breadcrumb-item"><a href="#" th:href="@{'/chapters/' + ${section.chapter.id} + '/sections'}"
                                               th:text="${section.chapter.title}">Chapter Title</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${section.title}">Section Title</li>
            </ol>
        </nav>


        <h2 class="mt-4 mb-3" th:text="${section.title}">Section Title</h2>

        <!-- Video Player -->
        <div class="card mb-4">
            <div class="card-header">
                Video
            </div>
            <div class="card-body text-center">
                <video th:src="@{'/video/' + ${section.videoSourcePath}}" class="img-fluid w-100" controls autoplay>
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <!-- Editor -->
        <div th:if="${section.embeddedEditorUrl != null && !section.embeddedEditorUrl.isBlank()}" class="card mb-4">
            <div class="card-header">
                Java Code Editor
            </div>
            <div class="card-body">
                <!-- TODO: Add Loading spinner -->
                <div th:data-pym-src="${section.embeddedEditorUrl}"></div>
            </div>
        </div>
    </div>

    <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
</div>
</body>
</html>