<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/_page-layout}">
<head>
    <title th:text="${selectedChapterTitle}">Section</title>
</head>
<body>
<div layout:fragment="main-content">
    <!-- Hero -->
    <div class="course-header text-center">
        <div class="container">
            <h1 th:text="${selectedChapterTitle}"></h1>
        </div>
    </div>

    <!-- Chapters List -->
    <div class="container mt-5">
        <h2 class="mb-4">Sections</h2>
        <div class="row" th:unless="${sections.isEmpty()}">
            <div th:each="section : ${sections}" class="col-md-4 chapter-card">
                <a href="#" th:href="@{'/sections/' + ${section.id} + '/learn'}" class="card-link">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${section.title}"></h5>
                            <p class="card-text" th:text="${section.description}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
